* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body,
html {
  overflow: auto;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #daddd8;
}

#root {
  width: 100%;
  height: 100%;
}
